.copyright {
  display: flex;
  justify-content: center;
}

.copyright__text {
  @include reset;
  margin-right: 13px;
  color: black;
  align-self: center;
}

.copyright__icon {
  &:hover {
    fill: $basic-blue;
  }

  &:active {
    color: black;
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .copyright__text {
    margin-right: 11px;
  }

  .copyright__icon {
    margin-top: 6px;
  }
}
