.copyright {
  display: flex;
  justify-content: center;
}
.copyright__text {
  @include reset;
  margin-right: 5px;
  color: black;
  align-self: center;
}

.copyright__icon {
  &:hover {
    fill: $basic-blue;
  }
  &:active {
    color: black;
    opacity: 0.3;
  }
}
.copyright__logo {
}
.copyright__logo-image {
}
