.feedback {
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
}
.feedback__title {
  @include reset;
  margin-bottom: 27px;
  color: $dark-title;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}
.feedback__intro {
  @include reset;
  margin: 0 auto;
  padding-bottom: 16px;
  max-width: 470px;
  line-height: 24px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .feedback {
    padding-top: 63px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 61px;
  }
  .feedback__title {
    margin-bottom: 30px;
    font-size: 30px;
  }
  .feedback__intro {
    padding-bottom: 83px;
  }
}

@media (min-width: $dekstop-width) {
  .feedback {
    padding-top: 114px;
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 66px;
  }
}
