.footer {
  padding-bottom: 22px;
  padding-top: 36px;
}

.footer__hashtag {
  @include reset;
  margin-bottom: 36px;
  color: $dark-title;
  font-weight: bold;
  font-size: 21px;
  text-align: center;
}

.footer__socials {
  margin-bottom: 38px;
}

@media (min-width: $tablet-width) {
  .footer {
    padding-top: 30px;
  }

  .footer__hashtag {
    margin: 0;
  }

  .footer__socials {
    margin: 0;
  }
}
