.form__fieldset {
  @include reset;
  border: none;
}

.form__fieldset-wrapper {
  position: relative;
  padding-top: 20px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;

  &--impression {
    padding-top: 23px;
  }

  &--attractions {
    padding-top: 15px;
  }

  &::before {
    @include pseudo;
    height: 1px;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #e5e5e5;
  }
}


.form__caption {
  display: block;
  margin: 0 auto;
  color: $dark-title;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-align: center;

  &--introduce {
    margin-bottom: 18px;
  }

  &--contacts {
    margin-bottom: 18px;
  }

  &--message {
    margin-bottom: 15px;
  }

  &--impression {
    margin-bottom: 23px;
  }

  &--attractions {
    margin-bottom: 20px;
  }
}

.form__input-wrapper {
  display: flex;

  &--name,
  &--surname {
    margin-bottom: 20px;
  }
}

.form__label {
  display: inline-block;

  &--introduce {
    margin-right: 9px;
    align-self: center;
  }

  &--telephone {
    margin-bottom: 12px;
  }

  &--email {
    margin-bottom: 9px;
  }
}

.form__input {
  height: 58px;
  min-width: 150px;
  width: 100%;
  padding-left: 16px;
  padding-top: 5px;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: $input-text;
  background-color: $input-background;
  border: 4px solid $input-background;

  &:hover {
    background-color: $input-background-hover;
    border: 4px solid $input-background-hover;
  }

  &:active,
  &:focus {
    background-color: $input-background-active;
    border: 4px solid $input-background-hover;
  }

  &::placeholder {
    color: $input-text;
    opacity: 1;
  }

  &--telephone {
    margin-bottom: 16px;
  }
}

.form__contacts-wrapper {
  display: flex;
  flex-direction: column;
}

.form__input-box {
  position: relative;
  height: 58px;
  min-width: 150px;
  width: 100%;
  box-sizing: border-box;

  &::before {
    @include pseudo;
    width: 58px;
    height: 58px;
    top: 0;
    right: 0;
    background-color: $input-icons-bg;
  }

  &--telephone {
    &::after {
      @include pseudo;
      width: 18px;
      height: 18px;
      top: 20px;
      right: 20px;
      background-image: url("../img/phone.svg");
      background-repeat: no-repeat;
    }
  }

  &--email {
    &::after {
      @include pseudo;
      width: 16px;
      height: 12px;
      top: 23px;
      right: 22px;
      background-image: url("../img/mail.svg");
      background-repeat: no-repeat;
    }
  }
}

.form__radio-wrapper {
  margin-bottom: 11px;
  display: flex;
  flex-direction: column;

  &:last-child {
    margin-bottom: 0;
  }
}

.form__radio-label,
.form__checkbox-label {
  position: relative;
  display: block;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: $input-text;
  text-transform: none;
  cursor: pointer;
  user-select: none;
}

.form__radio-label {
  min-height: 58px;
  padding-top: 15px;
  padding-left: 70px;
  box-sizing: border-box;
}

.form__radio-input + .form__radio-label::before {
  @include pseudo;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  background-color: $toggle-background;
  border: 17px solid $toggle-background;
  border-radius: 50%;
}

.form__radio-input:hover + .form__radio-label::before,
.form__radio-input:focus + .form__radio-label::before {
  background-color: $toggle-background-hover;
  border: 17px solid $toggle-background-hover;
}

.form__radio-input:checked + .form__radio-label::before {
  background-color: $toggle;
}

.form__radio-input:active + .form__radio-label::before {
  background-color: rgba($toggle, 0.3);
  border: 17px solid $toggle-background-active;
}

.form__checkbox-label {
  min-height: 56px;
  padding-top: 16px;
  padding-left: 78px;
  box-sizing: border-box;
}

.form__checkbox-input + .form__checkbox-label::before {
  @include pseudo;
  top: 0;
  left: 0;
  width: 56px;
  height: 56px;
  background-color: $toggle-background;
}

.form__checkbox-input:hover + .form__checkbox-label::before,
.form__checkbox-input:focus + .form__checkbox-label::before {
  background-color: $toggle-background-hover;
}

.form__checkbox-input:active + .form__checkbox-label::before {
  background-color: $toggle-background-active;
}

.form__checkbox-input:checked + .form__checkbox-label::after {
  @include pseudo;
  background-image: url("../img/tick.svg");
  width: 23px;
  height: 16px;
  top: 19px;
  left: 16px;
}

.form__checkbox-input:active + .form__checkbox-label::after {
  opacity: 0.3;
}

.form__checkbox-wrapper {
  margin-bottom: 24px;
  display: flex;

  &:last-child {
    margin-bottom: 0;
  }
}

.form__message {
  display: block;
  padding: 10px 16px;
  margin-bottom: 26px;
  width: 100%;
  height: 160px;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  font-family: $font-family;
  color: $input-text;
  background-color: $input-background;
  border: 4px solid $input-background;
  outline: none;
  resize: none;

  &:hover {
    background-color: $input-background-hover;
    border: 4px solid $input-background-hover;
  }

  &:active,
  &:focus {
    background-color: $input-background-active;
    border: 4px solid $input-background-hover;
  }

  &::placeholder {
    color: $input-text;
    opacity: 1;
  }
}

.form__button {
  display: block;
  width: 100%;
  padding-top: 18px;
  padding-bottom: 15px;
}

.form__required-fields {
  display: none;
}

.form__button-wrapper {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 44px;
}

@media (min-width: $tablet-width) {
  .form {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .form__fieldset-wrapper {
    padding: 0;

    &::before {
      display: none;
    }

    &--impression {
      grid-column: 1/2;
      grid-row: 1/2;
      position: relative;
    }

    &--contacts {
      position: relative;
      grid-column: 1/-1;
      margin-bottom: 51px;

      &::after {
        @include pseudo;
        width: 123px;
        height: 1px;
        top: 10px;
        right: 0;
        background-color: #dbdbdb;
      }

      &::before {
        @include pseudo;
        width: 123px;
        height: 1px;
        top: 10px;
        left: 0;
        background-color: #dbdbdb;
      }
    }

    &--attractions {
      position: relative;
      grid-column: 1/-1;
      margin-bottom: 41px;

      &::after {
        @include pseudo;
        width: 123px;
        height: 1px;
        top: 27px;
        right: 0;
        background-color: #dbdbdb;
      }

      &::before {
        @include pseudo;
        width: 123px;
        height: 1px;
        top: 27px;
        left: 0;
        background-color: #dbdbdb;
      }
    }

    &--message {
      position: relative;
      grid-column: 1/-1;

      &::after {
        @include pseudo;
        width: 123px;
        height: 1px;
        top: 10px;
        right: 0;
        background-color: #dbdbdb;
      }

      &::before {
        @include pseudo;
        width: 123px;
        height: 1px;
        top: 10px;
        left: 0;
        background-color: #dbdbdb;
      }
    }

    &--introduce {
      padding-left: 55px;
      margin-bottom: 72px;

      &::before {
        @include pseudo;
        width: 1px;
        height: 292px;
        left: -1px;
        top: 0;
        background-color: #dbdbdb;
      }
    }
  }

  .form__caption {
    font-size: 21px;

    &--introduce {
      margin-left: 0;
      margin-bottom: 56px;
    }

    &--contacts {
      margin-bottom: 20px;
    }

    &--impression {
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 57px;
    }

    &--attractions {
      max-width: 350px;
      margin-bottom: 45px;
    }

    &--message {
      margin-bottom: 57px;
    }
  }

  .form__checkbox-list {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .form__checkbox-wrapper {
    margin-bottom: 30px;

    &:nth-child(odd) {
      padding-left: 96px;
    }

    &:nth-child(even) {
      padding-left: 31px;
    }
  }

  .form__required-fields {
    @include reset;
    display: block;
    align-self: center;
    text-align: right;
  }

  .form__radio-wrapper {
    margin-bottom: 21px;
  }

  .form__label {
    &--telephone,
    &--email {
      padding-left: 22px;
    }
  }

  .form__input-box {
    &--telephone {
      margin-bottom: 27px;
    }
  }

  .form__message {
    margin-bottom: 57px;
  }

  .form__button-wrapper {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 4px;
  }
}

@media (min-width: $desktop-width) {
  .form {
    grid-template-columns: 50% 50%;
  }

  .form__checkbox-list {
    grid-template-columns: repeat(4, 240px);
  }

  .form__checkbox-label {
    padding-left: 81px;
  }

  .form__label-temporary {
    display: none;
  }

  .form__checkbox-wrapper {
    &:nth-child(odd) {
      padding-left: 0;
    }

    &:nth-child(even) {
      padding-left: 0;
    }
  }

  .form__contacts-wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .form__telephone-wrapper {
    display: flex;
    padding-right: 80px;
    align-items: center;
  }

  .form__email-wrapper {
    display: flex;
    align-items: center;
  }

  .form__input {
    &--telephone {
      margin-bottom: 0;
      margin-left: 16px;
      width: 257px;
    }

    &--email {
      flex-grow: 1;
      margin-left: 21px;
      width: 257px;
    }
  }

  .form__caption {
    &--impression {
      padding-left: 76px;
    }

    &--contacts {
      margin-bottom: 70px;
    }

    &--attractions {
      margin-bottom: 41px;
    }
  }

  .form__fieldset-wrapper {
    &--impression {
      padding-left: 4px;
    }

    &--introduce {
      padding-left: 81px;
    }

    &--contacts {
      margin-bottom: 53px;

      &::after {
        width: 280px;
      }

      &::before {
        width: 280px;
      }
    }

    &--attractions {
      margin-bottom: 40px;

      &::after {
        width: 280px;
      }

      &::before {
        width: 280px;
      }
    }

    &--message {
      &::after {
        width: 280px;
      }

      &::before {
        width: 280px;
      }
    }
  }

  .form__radio-label {
    padding-top: 16px;
    padding-left: 75px;
  }

  .form__label {
    &--introduce {
      margin-right: 16px;
    }

    &--telephone {
      padding-left: 0;
      margin-bottom: 0;
    }

    &--email {
      padding-left: 0;
      margin-bottom: 0;
      white-space: nowrap;
    }
  }

  .form__input-box {
    &--telephone {
      margin-bottom: 0;
    }
  }

  .form__checkbox-wrapper:nth-child(2) {
    padding-left: 20px;
  }

  .form__checkbox-wrapper:nth-child(3) {
    padding-left: 38px;
  }

  .form__checkbox-wrapper:nth-child(4) {
    padding-left: 35px;
  }
}
