.form {
}
.form__fieldset {
  @include reset;
  padding-top: 20px;
  padding-bottom: 25px;
  border: none;
}

.form__caption {
  margin: 0 auto;
  color: $dark-title;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  &--contacts {
    margin-bottom: 17px;
  }
  &--message {
    margin-bottom: 15px;
    display: block;
  }
}

.form__input-wrapper {
  display: flex;
  &--name,
  &--surname {
    margin-bottom: 20px;
  }
}

.form__label {
  &--introduce {
    margin-right: 13px;
    align-self: center;
  }
  &--telephone {
    margin-bottom: 8px;
  }
  &--email {
    margin-bottom: 5px;
  }
}

.form__input {
  height: 58px;
  min-width: 150px;
  width: 100%;
  padding-left: 20px;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: $input-text;
  background-color: $input-background;
  border: 4px solid $input-background;
  &:hover {
    background-color: $input-background-hover;
    border: 4px solid $input-background-hover;
  }
  &:active,
  &:focus {
    background-color: $input-background-active;
    border: 4px solid $input-background-hover;
  }
  &::placeholder {
    color: $input-text;
    opacity: 1;
  }
  &--telephone {
    margin-bottom: 14px;
  }
}

.form__contacts-wrapper {
  display: flex;
  flex-direction: column;
}

.form__input--telephone {
}
.form__input--email {
}

.form__radio-wrapper {
  margin-bottom: 11px;
  display: flex;
  flex-direction: column;
  &:last-child {
    margin-bottom: 0;
  }
}

.form__radio {
}
.form__radio-label,
.form__checkbox-label {
  padding-left: 70px;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: $input-text;
  text-transform: none;
}

.form__checkbox-wrapper {
  margin-bottom: 24px;
  display: flex;
  &:last-child {
    margin-bottom: 0;
  }
}

.form__checkbox {
}
.form__checkbox-label {
}
.form__message {
  display: block;
  padding: 13px 21px;
  margin-bottom: 51px;
  width: 100%;
  height: 160px;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  font-family: $font-family;
  color: $input-text;
  background-color: $input-background;
  border: 4px solid $input-background;
  outline: none;
  resize: none;
  &:hover {
    background-color: $input-background-hover;
    border: 4px solid $input-background-hover;
  }
  &:active,
  &:focus {
    background-color: $input-background-active;
    border: 4px solid $input-background-hover;
  }
  &::placeholder {
    color: $input-text;
    opacity: 1;
  }
}

.form__button {
  display: block;
  width: 100%;
  padding-top: 18px;
  padding-bottom: 15px;
}
.form__required-fields {
  display: none;
}

@media (min-width: $tablet-width) {
  .form {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .form__fieldset{
    padding: 0;
    &--impression {
      grid-column: 1/2;
      grid-row: 1/2;
    }
    &--contacts {
      grid-column: 1/-1;
      margin-bottom: 51px;
    }
    &--attractions {
      grid-column: 1/-1;
      margin-bottom: 75px;
    }
    &--message {
      grid-column: 1/-1;
    }
    &--introduce {
      padding-left: 55px;
      margin-bottom: 72px;
    }
  }
  .form__caption {
    font-size: 21px;
    &--introduce {
      margin-left: 0;
      margin-bottom: 54px;
    }
    &--contacts {
      margin-bottom: 20px;
    }
    &--impression {
      margin-bottom: 72px;
    }
    &--attractions {
      max-width: 350px;
      margin-bottom: 58px;
    }
    &--message {
      margin-bottom: 54px;
    }
  }
  .form__checkbox-list {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .form__checkbox-wrapper {
    &:nth-child(odd) {
      padding-left: 100px;
    }
    &:nth-child(even) {
      padding-left: 30px;
    }
  }
  .form__required-fields {
    display: block;
    align-self: center;
    @include reset;
    text-align: right;
  }
}


@media (min-width: $desktop-width) {
  .form {
    grid-template-columns: 50% 50%;
  }
  .form__checkbox-list {
    grid-template-columns: repeat(4, 240px);
  }
  .form__label-temporary {
    display: none;
  }
  .form__checkbox-wrapper {
    &:nth-child(odd) {
      padding-left: 0
    }
    &:nth-child(even) {
      padding-left: 0;
    }
  }
  .form__contacts-wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .form__telephone-wrapper {
    display: flex;
    padding-right: 80px;
    align-items: center;
  }
  .form__email-wrapper {
    display: flex;
    align-items: center;
  }
  .form__input {
    &--email {
    width: auto;
    flex-grow: 1;
    margin-left: 18px;
  }
  &--telephone {
    margin-bottom: 0;
    margin-left: 16px;
    }
  }
}
