.modal {
  box-sizing: border-box;
  text-align: center;
  background-color: white;
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
  &--error {
    padding-top: 40px;
    padding-right: 22px;
    padding-bottom: 35px;
    padding-left: 37px;
  }
  &--success {
    padding-top: 38px;
  }
  &--show {
    display: block;
  }
  &--close {
    display: block;
  }
}

.modal__title {
  @include reset;
  margin-bottom: 25px;
}
.modal__text {
  @include reset;
  &--error {
    margin-bottom: 22px;
  }
  &--success {
    margin-bottom: 47px;
  }
}
.modal__button {
  box-sizing: border-box;
  padding: 15px;
  min-height: 58px;
  &--ok {
    margin: 0 auto;
    min-width: 180px;
  }
  &--close {
    width: 100%;
    display: block;
    text-align: center;
  }
}

.modal__button-wrapper {
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
  background-color: $button-close-wrapper;
}

@media (min-width: $tablet-width) {
  .modal {
    &--error {
      width: 400px;
      padding: 51px 45px 49px 45px;
    }
    &--success {
      width: 640px;
      padding-top: 55px;
    }
  }
  .modal__title {
    margin-bottom: 23px;
    font-size: 30px;
    line-height: 40px;
  }
  .modal__text {
    margin-left: auto;
    margin-right: auto;
    max-width: 460px;
    margin-bottom: 50px;
  }
  .modal__button {
    &--ok {
      min-width: 272px;
      min-height: 58px;
    }
  }
  .modal__button-wrapper {
    padding: 44px 91px;
  }
}

