.modal {
  text-align: center;
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
  &--error {
    padding-top: 40px;
    padding-right: 22px;
    padding-bottom: 35px;
    padding-left: 37px;
  }
  &--success {
    padding-top: 38px;
  }
}

.modal__title {
  @include reset;
  margin-bottom: 25px;
}
.modal__text {
  @include reset;
  &--error {
    margin-bottom: 22px;
  }
  &--success {
    margin-bottom: 47px;
  }
}
.modal__button {
  &--ok {
    margin: 0 auto;
    padding-top: 18px;
    padding-right: 64px;
    padding-bottom: 15px;
    padding-left: 63px;
  }
  &--close {
    width: 100%;
    display: block;
    padding-top: 18px;
    padding-bottom: 15px;
    text-align: center;
  }
}

.modal__button-wrapper {
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
  background-color: $button-close-wrapper;
}
