.page-main {
}
.page-main__promo {

}
.page-main__promo-image {
}
.page-main__title {
  margin-top: 32px;
  margin-bottom: 24px;
  padding: 0 10px;
  color: $dark-title;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
}
.page-main__reasons {

}
