.photos__text {
  @include reset;
  margin-bottom: 32px;
  margin-right: auto;
  margin-left: auto;
  max-width: 445px;
  padding-right: 20px;
  padding-left: 20px;
  text-align: center;
  line-height: 24px;
}

.photos__list {
  @include reset-list;
}

.photos__item {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 22px;
  padding-bottom: 16px;

  &::before {
    @include pseudo;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #e5e5e5;
  }

  &:last-child {
    &::after {
      @include pseudo;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #e5e5e5;
    }
  }
}

.photos__image {
  display: block;
  margin-bottom: 11px;
  width: 100%;
}

.photos__wrapper {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.photos__caption {
  @include reset;
  margin-bottom: 2px;
  color: $dark-title;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
}

.photos__author {
  @include reset;
  margin-bottom: 12px;
  line-height: 24px;
  text-transform: none;
}

.photos__like-wrapper {
  display: flex;
}

.photos__like {
  position: relative;
  margin-right: 14px;
  padding: 0;
  width: 23px;
  height: 21px;
  border: none;
  background-color: transparent;

  &::before {
    @include pseudo;
    top: 0;
    left: 0;
    width: 23px;
    height: 21px;
    background-image: url("../img/like_icon.svg");
    background-repeat: no-repeat;
  }
}

.photos__like-count {
  @include reset;
  color: $dark-title;
  font-weight: bold;
  line-height: 24px;
}

@media (min-width: $tablet-width) {
  .photos__text {
    margin-bottom: 77px;
  }

  .photos__list {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    padding-left: 60px;
    padding-right: 60px;
  }

  .photos__item {
    padding: 0;

    &--wide {
      grid-column: 1/-1;
      grid-row: 1/2;
    }
  }

  .photos__description {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    min-height: 80px;
    box-sizing: border-box;
    background-color: #f2f2f2;

    &--road {
      background-color: #e5e5e5;
    }
  }

  .photos__text-wrapper {
    padding-left: 20px;
  }

  .photos__like-wrapper {
    padding-top: 14px;
    width: 85px;
  }

  .photos__image {
    margin: 0;
  }

  .photos__wrapper {
    max-width: 100%;
  }

  .photos__like {
    margin-right: 10px;
  }
}

@media (min-width: $desktop-width) {
  .photos__text {
    margin-bottom: 77px;
  }

  .photos__list {
    grid-template-columns: repeat(3, 400px);
    padding-left: 0;
    padding-right: 0;
  }

  .photos__item {
    padding-top: 0;
    padding-bottom: 0;

    &--wide {
      grid-column: 1/-1;
      grid-row: 1/2;
    }
  }

  .photos__description {
    position: relative;
    z-index: 1;
    margin-top: -80px;
    min-height: 80px;
    color: white;
    background-color: rgba($color: #000000, $alpha: 0.3);
  }

  .photos__caption {
    color: white;
  }

  .photos__like-count {
    color: white;
  }

  .photos__like {
    &::before {
      background-image: url("../img/like_icon_desktop.svg");
    }
  }
}
