.search-hotel {
  padding-top: 33px;
  padding-bottom: 49px;
  text-align: center;
}
.search-hotel__intro {
  @include reset;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 21px;
  color: $dark-title;
}
.search-hotel__text {
  @include reset;
  padding: 0 10px;
  margin-bottom: 27px;
  max-width: 435px;
  margin-left: auto;
  margin-right: auto;
}
.search-hotel__button {
  display: block;
  max-width: 458px;
  margin: 0 auto;
  padding-top: 14px;
  padding-bottom: 17px;
}

@media (min-width: $tablet-width) {
  .search-hotel {
    padding-top: 50px;
    padding-bottom: 58px;
  }
  .search-hotel__intro {
    font-size: 30px;
    margin-bottom: 25px;
  }
  .search-hotel__text {
    margin-bottom: 37px;
  }
}

@media (min-width: $dekstop-width) {
  .search-hotel {
    padding-bottom: 66px;
  }
  .search-hotel__text {
    margin-bottom: 42px;
  }
}
