.socials {
}

.socials__list {
  display: flex;
  justify-content: center;
  @include reset-list;
}
.socials__item {
  margin-right: 6px;
  &:last-child {
    margin-right: 0;
  }
}
.socials__link {
  display: block;
  width: 46px;
  height: 48px;
  background-color: $basic-blue;
  &:hover {
    background-color: $button-background-hover;
  }
  &:active {
    background-color: $button-background-active;
  }
}
.socials__link--twitter {
}
.socials__link--facebook {
}
.socials__link--vkontakte {
}
