.video-controls {
}

.video-controls__scale-wrapper {
  position: relative;
  margin-top: -45px;
  margin-left: auto;
  margin-right: auto;
  width: 280px;
  height: 45px;
  background-color: rgba(#000000, 0.6);
}


.video-controls__scale {
  position: absolute;
  width: 235px;
  height: 3px;
  top: 22px;
  left: 22px;
  background-color: rgba(#ffffff, 0.2);
}

.video-controls__toggle {
  position: absolute;
  z-index: 1;
  padding: 0;
  top: -2px;
  left: 36px;
  display: block;
  width: 9px;
  height: 9px;
  background-color: #ffffff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.video-controls__buttons {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  width: 280px;
  height: 66px;
  padding-left: 24px;
  padding-top: 24px;
  padding-right: 23px;
  box-sizing: border-box;
  background-color: $video-controls-mobile-bg;
}

.video-controls__button {
  padding: 0;
  border: none;
  fill: $video-controls-mobile;
  &:hover,
  &:focus {
    fill: $video-controls-mobile-hover;
  }
  &:active {
    opacity: 0.3;
  }
  &--replay {
    width: 16px;
    height: 20px;
  }
  &--subtitles {
    width: 32px;
    height: 20px;
  }
  &--fullscreen {
    width: 20px;
    height: 20px;
    margin-left: 27px;
  }
}


.video-controls__button--replay {
}
.video-controls__button--subtitles {
}
.video-controls__button--fullscreen {
}
