.video-content {
  padding-top: 32px;
  padding-bottom: 49px;
}
.video-content__intro {
  @include reset;
  margin-bottom: 24px;
  color: $dark-title;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
}
.video-content__text {
  @include reset;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 33px;
  max-width: 450px;
  text-align: center;
}
.video-content__poster {
  display: block;
}

@media (min-width: $tablet-width) {
  .video-content {
    padding-top: 59px;
    padding-bottom: 40px;
  }
  .video-content__intro {
    margin-bottom: 28px;
    font-size: 30px;
  }
  .video-content__text {
    margin-bottom: 64px;
  }
}
