/* Fonts */
/* Colors */
@font-face {
  font-family: "PT Sans";
  src: local("PT Sans"), url("/source/fonts/ptsans.woff2") format("woff2"), url("/source/fonts/ptsans.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "PT Sans";
  src: local("PT Sans Bold"), url("/source/fonts/ptsansbold.woff2") format("woff2"), url("/source/fonts/ptsansbold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.page__body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  color: #333333;
  font-size: 14px;
  line-height: 21px; }

.site-navigation__list {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  background-color: #81b3d2; }

.site-navigation__item {
  text-align: center;
  box-shadow: 0px 1px 0px rgba(1, 1, 1, 0.2), inset 0px 1px 0px rgba(255, 255, 255, 0.2); }
  .site-navigation__item:first-child {
    box-shadow: 0px 1px 0px rgba(1, 1, 1, 0.2); }
  .site-navigation__item:last-child {
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.2); }

.site-navigation__link {
  display: block;
  padding-top: 10px;
  padding-bottom: 5px;
  text-decoration: none;
  color: inherit; }
  .site-navigation__link:hover {
    background-color: #669ec0; }
  .site-navigation__link:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5496bd; }

.page-main__title {
  margin-top: 32px;
  margin-bottom: 24px;
  padding: 0 10px;
  color: #000000;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-align: center; }

.reasons__intro {
  margin-top: 0;
  margin-bottom: 27px;
  line-height: 26px;
  text-align: center; }

.reasons__list {
  list-style: none;
  margin: 0;
  padding: 0; }

.reasons__item {
  padding-top: 25px;
  padding-bottom: 24px;
  color: #333333;
  text-align: center;
  background-color: #eeeeee; }
  .reasons__item--expanded {
    color: #ffffff;
    background-color: #81b3d2;
    padding-bottom: 0; }
  .reasons__item--advantages {
    margin: 0;
    padding: 0; }
  .reasons__item--true-town {
    padding-top: 55px; }
  .reasons__item--devils-bridge {
    padding-top: 39px; }

.reasons__text-wrapper {
  padding-bottom: 35px; }

.reasons__title {
  margin: 0;
  padding: 0;
  margin-bottom: 11px; }

.reasons__title-text {
  margin-bottom: 17px;
  color: #000000; }

.reasons__number {
  margin: 0;
  padding: 0;
  margin-bottom: 15px; }

.reasons__text {
  margin: 0;
  padding: 0; }

.reasons__image {
  display: block; }

.advantages {
  padding-top: 25px;
  background-color: white; }

.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0; }

.advantages__item {
  padding-left: 70px;
  padding-top: 9px;
  padding-bottom: 15px;
  padding-right: 20px;
  text-align: left; }

.advantages__title {
  margin: 0;
  padding: 0;
  margin-bottom: 17px; }

.advantages__text {
  margin: 0;
  padding: 0; }

.search-hotel {
  padding-top: 33px;
  padding-bottom: 49px;
  text-align: center; }

.search-hotel__intro {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 21px;
  color: #000000; }

.search-hotel__text {
  margin: 0;
  padding: 0;
  padding: 0 10px;
  margin-bottom: 27px; }

.search-hotel__button {
  padding-top: 14px;
  padding-bottom: 17px; }

.button {
  display: block;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #ffffff;
  font-weight: bold;
  font-size: 21px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #81b3d2;
  border: none; }
  .button:hover, .button:focus {
    background-color: #669ec0; }
  .button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5496bd; }
  .button:disabled {
    background-color: #e5e5e5; }

.socials__list {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0; }

.socials__item {
  margin-right: 6px; }
  .socials__item:last-child {
    margin-right: 0; }

.socials__link {
  display: block;
  width: 46px;
  height: 48px;
  background-color: #81b3d2; }
  .socials__link:hover {
    background-color: #669ec0; }
  .socials__link:active {
    background-color: #5496bd; }

.copyright {
  display: flex;
  justify-content: center; }

.copyright__text {
  margin: 0;
  padding: 0;
  margin-right: 12px;
  color: black;
  align-self: center; }

.footer {
  padding-bottom: 22px;
  padding-top: 38px; }

.footer__hashtag {
  margin: 0;
  padding: 0;
  margin-bottom: 33px;
  color: #000000;
  font-weight: bold;
  font-size: 21px;
  text-align: center; }

.footer__socials {
  margin-bottom: 40px; }

.form__fieldset {
  margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 25px;
  border: none; }

.form__caption {
  margin: 0 auto;
  color: #000000;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-align: center; }
  .form__caption--contacts {
    margin-bottom: 17px; }
  .form__caption--message {
    margin-bottom: 15px;
    display: block; }

.form__input-wrapper {
  display: flex; }
  .form__input-wrapper--name, .form__input-wrapper--surname {
    margin-bottom: 20px; }

.form__label--introduce {
  margin-right: 13px;
  align-self: center; }

.form__label--telephone {
  margin-bottom: 8px; }

.form__label--email {
  margin-bottom: 5px; }

.form__input {
  flex-grow: 1;
  height: 58px;
  padding-left: 22px;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  background-color: #f2f2f2;
  border: 4px solid #f2f2f2; }
  .form__input:hover {
    background-color: #e5e5e5;
    border: 4px solid #e5e5e5; }
  .form__input:active, .form__input:focus {
    background-color: #ffffff;
    border: 4px solid #e5e5e5; }
  .form__input::-moz-placeholder {
    color: #000000;
    opacity: 1; }
  .form__input::placeholder {
    color: #000000;
    opacity: 1; }
  .form__input--telephone {
    margin-bottom: 14px; }

.form__contacts-wrapper {
  display: flex;
  flex-direction: column; }

.form__radio-wrapper {
  margin-bottom: 11px;
  display: flex;
  flex-direction: column; }
  .form__radio-wrapper:last-child {
    margin-bottom: 0; }

.form__radio-label,
.form__checkbox-label {
  padding-left: 78px;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-transform: none; }

.form__checkbox-wrapper {
  margin-bottom: 24px;
  display: flex; }
  .form__checkbox-wrapper:last-child {
    margin-bottom: 0; }

.form__message {
  display: block;
  padding: 13px 21px;
  margin-bottom: 51px;
  width: 100%;
  height: 160px;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;
  background-color: #f2f2f2;
  border: 4px solid #f2f2f2;
  outline: none;
  resize: none; }
  .form__message:hover {
    background-color: #e5e5e5;
    border: 4px solid #e5e5e5; }
  .form__message:active, .form__message:focus {
    background-color: #ffffff;
    border: 4px solid #e5e5e5; }
  .form__message::-moz-placeholder {
    color: #000000;
    opacity: 1; }
  .form__message::placeholder {
    color: #000000;
    opacity: 1; }

.form__button {
  display: block;
  width: 100%;
  padding-top: 18px;
  padding-bottom: 15px; }

.feedback {
  padding-top: 36px; }

.feedback__title {
  margin: 0;
  padding: 0;
  margin-bottom: 27px;
  color: #000000;
  font-weight: bold;
  font-size: 18px;
  text-align: center; }

.feedback__intro {
  margin: 0;
  padding: 0;
  line-height: 24px;
  padding-bottom: 16px;
  text-align: center; }

.modal {
  text-align: center;
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15); }
  .modal--error {
    padding-top: 40px;
    padding-right: 22px;
    padding-bottom: 35px;
    padding-left: 37px; }
  .modal--success {
    padding-top: 38px; }

.modal__title {
  margin: 0;
  padding: 0;
  margin-bottom: 25px; }

.modal__text {
  margin: 0;
  padding: 0; }
  .modal__text--error {
    margin-bottom: 22px; }
  .modal__text--success {
    margin-bottom: 47px; }

.modal__button--ok {
  margin: 0 auto;
  padding-top: 18px;
  padding-right: 64px;
  padding-bottom: 15px;
  padding-left: 63px; }

.modal__button--close {
  width: 100%;
  display: block;
  padding-top: 18px;
  padding-bottom: 15px;
  text-align: center; }

.modal__button-wrapper {
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
  background-color: #f2f2f2; }

.media-content {
  padding-top: 31px; }

.media-content__title {
  margin: 0;
  padding: 0;
  margin-bottom: 28px;
  color: #000000;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-align: center; }

.photos__text {
  margin: 0;
  padding: 0;
  padding-bottom: 40px;
  text-align: center; }

.photos__list {
  list-style: none;
  margin: 0;
  padding: 0; }

.photos__item {
  padding-top: 22px;
  padding-bottom: 21px; }

.photos__image {
  display: block;
  margin-bottom: 11px; }

.photos__caption {
  margin: 0;
  padding: 0;
  margin-bottom: 2px;
  color: #000000;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px; }

.photos__author {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  line-height: 24px;
  text-transform: none; }

.photos__like-wrapper {
  display: flex; }

.photos__like {
  margin-right: 14px;
  width: 23px;
  height: 21px;
  border: none; }

.photos__like-count {
  margin: 0;
  padding: 0;
  color: #000000;
  font-weight: bold;
  line-height: 24px; }

.video-content {
  padding-top: 32px;
  padding-bottom: 49px; }

.video-content__intro {
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
  color: #000000;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-align: center; }

.video-content__text {
  margin: 0;
  padding: 0;
  text-align: center;
  margin-bottom: 33px; }

.video-content__poster {
  display: block; }

.video-controls__buttons {
  background-color: #f2f2f2; }

.video-controls__button {
  border: none; }

/*# sourceMappingURL=style.css.map */
