/* Fonts */
$font-family: "PT Sans", "Arial", sans-serif;

/* Colors */
$dark-text: #333333;
$light-text: #ffffff;
$dark-title: #000000;
$basic-blue: #81b3d2;
$basic-grey: #eeeeee;

$button-background-hover: #669ec0;
$button-background-active: #5496bd;
$button-background-disabled: #e5e5e5;
$button-close-wrapper: #f2f2f2;

$input-background: #f2f2f2;
$input-background-hover: #e5e5e5;
$input-background-active: #ffffff;
$input-text: #000000;

$toggle: #333333;
$toggle-background: #f2f2f2;
$toggle-background-hover: #e5e5e5;
$toggle-background-active: #d5d5d5;

$video-controls: #ffffff;
$video-controls-mobile: #5c6870;
$video-controls-mobile-hover: #333333;

$video-controls-bg: #666666;
$video-controls-mobile-bg: #f2f2f2;

$menu: #000000;
$menu-hover: #81b3d2;
$menu-active: #766357;
$menu-active-hover: #604e43;

$button-close-wrapper: #f2f2f2;
